{% extends 'base_temp/base_template.html' %}

{% block title %}
	О нас
{% endblock title %}


{% block content %}
    <div class="conteiner about-contein">
    		<div class="about-block">
    			<div class="about-text">
	    			<h3>Online-School - платформа дистанционного образования.</h3>
    				<h4>На платформе Online-School представлены различные возможности для студентов и преподователей.</h4>
    				<h4>Преподователь может создавать авторские курсы и добавлять свои задания к ним. Также преподавателям доступен прогресс всех участников курса, то есть он может следить за успехами студентов решающих задачи, которые он добавил.</h4>
    				<h4>Для студентов доступны - запись на курсы, решение задач и управление своими курсами.</h4>
    			</div>
    		</div>
    </div>
{% endblock content %}