{% extends "base_temp/base_template.html" %}

{% block title %}Профиль: {{ user.username }}{% endblock %}

{% block content %}
    <div class="conteiner">
    	<div class="profile">
            <div class="user-menu">
                <ul class="static-list">
                    <li><a>Имя пользователя:</a></li>
                    <li><a>Email:</a></li>
                    {% if group == 'prepod' %}
                        <li><a>Созданные мной курсы:</a></li>
                    {% else %}
                        
                        <li><a>Мои курсы:</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <ul class="dinamic-list">
                        <li><a>{{ user.username }}</a></li>
                        <li><a>{{ user.email }}</a></li>


                        {% if group == 'prepod' %}
                            {% if courses_create_this_pepod %}
                                {% for course in courses_create_this_pepod %}
                                    <li class="course_li"><a href="{% url 'courses:course_results' course.id %}">{{ course.name_course }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a>Вы еще не создавали курсы</a></li>
                            {% endif %}
                        {% else %}
                            
                            {% if courses_this_user %}
                                {% for course in courses_this_user %}
                                    <li class="course_li"><a href="{% url 'courses:courseView' course.id %}">{{ course.name_course }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a>Вы не записаны ни на один курс(</a></li>
                                <li class="record_on_courses"><a href="{% url 'courses:courses' %}">Записаться на курсы</a></li>
                            {% endif %}
                        {% endif %}



                        
                    </ul>
                {% endif %}
            </div>
            <ul class="btn-s">
            {% if user.is_authenticated %}
                
                {% if group == 'prepod' %}
                    <li class="create-course-btn"><a href="{% url 'courses:create_course_page' %}">Создать курс</a></li>
                    <li class="add-task-to-course-btn"><a href="{% url 'courses:add_task_to_course_page' %}">Добавить задания к курсу</a></li>
                {% else %}
                    {% if courses_this_user.0 != None %}
                        <li class="manage_courses"><a href="{% url 'courses:manage_record' %}">Управление моими курсами</a></li>
                    {% endif %}
                {% endif %}
                
                <li class="logout-btn"><a href="{% url 'auth:logout' %}">Выход</a></li>
            {% endif %}
            
            </ul>
        </div>
    </div>
{% endblock content %}